/* 1. La nueva forma de importar Tailwind v4 */
@import "tailwindcss";

/* 2. Le decimos a v4 que lea nuestro archivo de configuración clásico */
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 161 94% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    
    --ring: 161 94% 85%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;

    --primary: 161 94% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 161 94% 30%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border)); 
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    line-height: 1.5; 
  }
}